@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    color: rgb(153, 153, 153);
    font-family: Lato, sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 28.5px;
    text-align: left;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 24px;
}

img {
    display: block;
    width: 100%;
}

div {
    display: block;
}

h2 {
    font-family: 'Playfair Display', serif;
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    line-height: 44px;
}

h4 {
    color: rgb(179, 156, 89);
    font-family: Lato, sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    line-height: 20.04px;
    letter-spacing: 2.4px;

}

h5 {
    color: rgb(255, 255, 255);
    font-family: Lato, sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 28.5px;
    text-align: left;
}

@media (min-width: 1024px) {
    .container {
        max-width: 1200px;
        margin: auto;
        padding: 0 40px;
    }
}

body {
    background-color: #fff1e3;
    font-family: Lato, sans-serif;
    color: white;
}
