.footer {
    background: #1a1a1a;
}

.footer__conact__form {
    max-width: 350px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

@media (min-width: 761px) {
    .footer__wrapper {
        display: flex;
        justify-content: flex-end;
        max-width: 1210px;
        margin: auto;
    }
}

.footer__gallery {
    --g: 3px;
    display: grid;
    clip-path: inset(1px);
}

.footer__gallery>img {
    --_p: calc(-1*var(--g));
    grid-area: 1/1;
    cursor: pointer;
    transition: .4s .1s;
}

.footer__gallery>img:first-child {
    clip-path: polygon(0 0, calc(100% + var(--_p)) 0, 0 calc(100% + var(--_p)))
}

.footer__gallery>img:last-child {
    clip-path: polygon(100% 100%, 100% calc(0% - var(--_p)), calc(0% - var(--_p)) 100%)
}

.footer__gallery:hover>img:last-child,
.footer__gallery:hover>img:first-child:hover {
    --_p: calc(50% - var(--g));
}

.footer__gallery:hover>img:first-child,
.footer__gallery:hover>img:first-child:hover+img {
    --_p: calc(-50% - var(--g));
}

.footer__img {
    border: 2px solid #b39c59;
    transition: border-color 0.3s ease-in-out;
}

.footer__img:hover {
    border-color: transparent;
}

.partners {
    display: flex;
    margin: auto;
    max-width: 1210px;
    justify-content: space-between;
    align-items: baseline;
    column-gap: 30px;
}

.partners>img {
    max-width: 200px;
}

.partners__carousel {
    display: flex;
    align-items: center;
    max-width: 1250px;
    margin: auto;
}