.header {
    background: linear-gradient(#161616c6, #161616c6), url(../img/backgroundMain.webp);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.header__address-container {
    display: none;
}

@media (min-width: 992px) {
    .header__address-container {
        background: rgba(20, 20, 20, 0.56);
        height: 42px;
        margin: auto;
        max-width: 1200px;
        padding: 30px 24px 30px 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.header__nav-top-symbol {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Lato, sans-serif;
    font-size: 26px;
    font-weight: 900;
    padding-top: 50px;
    padding-left: 24px;
    z-index: 1;
}


.header__menu-about,
.header__menu-tickets,
.header__menu-lectures,
.header__menu-testimonial,
.header__menu-gallery,
.header__menu-faq,
.header__menu-contacts {
    text-decoration: none;
    color: white;
    font-family: Lato, sans-serif;
}

@media (min-width: 900px) {
    .header__nav {
        display: flex;
        max-width: 1200px;
        margin: auto;
        transform: none;
        position: initial;
        background: inherit;
        transition: none;
    }
}

.header__info {
    background-size: cover;
    background-position: center;
    max-width: 1210px;
    margin: auto;
    justify-content: space-evenly;
    padding: 90px 0;
    background-color: var(--another-background-color);
}

@media (min-width: 761px) {
    .header__info {
        display: grid;
        grid-template-columns: 2fr 1.25fr;
        grid-gap: 15px;
    }
}

.contacts__form-title {
    color: rgb(255, 255, 255);
    font-family: Lato, sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 34.06px;
    margin: auto;
    padding-bottom: 15px;
    text-align: center;
    width: 80%;
}

.header__address {
    color: rgb(255, 255, 255);
    font-family: Lato, sans-serif;
    font-size: 15px;
    font-weight: 700;
}

.header__title {
    font-family: 'Playfair Display', serif;
    color: rgb(255, 255, 255);
    text-align: left;
    font-size: 58px;
    line-height: 69.6px;
    letter-spacing: -1.16px;
}

@media (min-width: 770px) {
    .header__title {
        font-size: 80px;
        line-height: 96px;
    }

}

.lable-pannel-wrapper {
    margin-top: 35px;
    justify-content: flex-start;
    text-align: left;
}

.label {
    display: block;
    height: 100%;
    background-color: transparent;
    width: 50px;
    min-height: 50px;
    line-height: 28.5px;
}

@media (min-width: 767px) {
    .label {
        width: 70px;
        min-height: 70px;
    }
}

.header__banner {
    text-align: left;
    justify-content: center;
    max-width: 100%;
    text-align: left;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    padding: 15px;

}

@media (min-width: 670px) {
    .header__banner {
        display: flex;
        flex-direction: column;
    }
}

.colortext {
    color: rgb(179, 156, 89);
    font-family: 'Playfair Display', serif;
    text-align: left;
    font-size: 32px;
}

.text-brand-color {
    color: rgb(179, 156, 89);
    font-family: Lato, sans-serif;
    font-size: 26px;
    font-weight: 700;

}

.header__text {
    margin-top: 20px;
    color: rgb(255, 255, 255);
    font-family: Lato, sans-serif;
    font-size: 19px;
    line-height: 28.82px;
    font-weight: 400;
    text-align: left;
    max-width: 100%;
    text-transform: none;
}

@media (min-width: 992px) {
    .header__title {
        font-size: 80px;
        font-weight: 700;
    }

    .colortext {
        font-size: 34px;
        font-weight: 700;
    }

    .header__text {
        font-size: 19px;
        font-weight: 400;
    }
}

.contacts__form {
    color: rgb(153, 153, 153);
    font-family: Lato, sans-serif;
    font-weight: 400;
    text-align: left;
    background: #141414;
    width: 90%;
    margin: auto;
    margin-top: 50px;
    padding: 39px 0 39px 0;

}

@media (min-width: 768px) {
    .contacts__form {
        width: 100%;
        margin-top: 0;
        padding: 40px 0 40px 0;
    }
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    font-size: 17px;
    font-weight: 400;
    text-align: left;
}

.contacts__form-input {
    background-color: rgb(31, 31, 31);
    color: #999999;
    --w-get-input-background-color: rgb(31, 31, 31);
    --w-get-input-color: #999999;
    cursor: text;
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: start;
    border-radius: 25px;
    width: 69%;
    margin: auto;
    display: block;
    margin-top: 12px;
    padding: 14px 30px 14px 30px;

}

.input__lable {
    width: 69%;
    margin: auto;
    display: block;
}

.contacts__form-input-submit {
    width: 69%;
    margin: auto;
    margin-top: 56px;
    display: block;
    padding: 14px 30px 14px 30px;
    border-radius: 25px;
    background-color: #b39c59;
    color: #ffffff;
    border-width: 0;
}

.contacts__form-input-submit:hover {
    background-color: #ffffff;
    color: black;
    transition: 0.2s;
}

.header__social-media-icons-button {
    display: inline-block;
    border: 0.8px solid #fff;
    text-decoration: none;
    padding: 8px;
    line-height: 0;
    border-radius: 50%;
    background-color: #1c1f29;
    border-color: #ffffff;
    cursor: pointer;
}

.header__social-media-icons-button:hover {
    border-color: #ffffff;
    background-color: #ffffff;
    transition: 0.2s;
}

.header__social-media-icons-button:hover .header__social-media-icons-item-svg {
    border-color: #ffffff;
    background-color: #ffffff;
    fill: #1c1f29;
    transition: 0.4s;
}

.header__social-media-icons-item-svg {
    width: 26px;
    height: 26px;
    fill: #ffffff;
}

@media (min-width: 768px) {
    .header {
        text-align: left;
    }
}